<div class="wrapper">
    <!--Flash Messages-->
    <flash-messages></flash-messages>
    <div class="boards-wrapper">
        <a (click)="logout()">Logout</a>
        <div id="boards">
            <div class="row">
                <h2>My Boards</h2>
            <div class="board" *ngFor="let board of boards" [routerLink]="['board', board._id]">
                <span class="title">{{ board.title }}</span>
            </div>

            <div class="board add-board">
                <span *ngIf="!addingBoard" (click)="newBoard();">Create a new board...</span>
                <input
                    autofocus
                    *ngIf="addingBoard"
                    (keyup)="addBoardOnEnter($event)"
                    (blur)="addBoard()"
                    [(ngModel)]="boardName" />
            </div>
            </div>
            <div class="row" *ngIf="colabs">
                 <h2>Collaboration Boards</h2>
                <div class="board" *ngFor="let board of colabs" [routerLink]="['board', board._id]">
                    <span class="title">{{ board.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
