.horizontal-scroll{
  overflow: auto;
  white-space: nowrap;
  height: calc(100vh - 118px);
}
.horizonal-column{
  display: inline-block;
}

.board-title span {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  cursor: hand;
}

.board-title input {
    margin: -3px -2px;
    font-size: 18px;
    font-weight: bold;
}

.add-column {
  width: 280px;
  height: 40px;
  border-radius: 3px; 
  width: 270px;
  margin-left: 10px;
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}

.add-column span {
	color: grey;
	line-height: 40px;
	vertical-align: middle;
	padding: 7px;
	font-size: 14px;
  cursor: pointer;
  cursor: hand;
}

.add-column input {	
	width: 100%;
	height: 100%;
	font-weight: 700;
	border: none;
	line-height: 18px;
	padding: 3px 5px 4px 5px;
}

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

md-sidenav-layout{
  height: 100vh;
}
md-sidenav{
  width: 320px;
}
.menu-toggle{
  right: 0;
}
md-toolbar-row{
  justify-content: space-between;
}
.board-body{
    background: #eeeeee;
    height:100%;
}
