	<div class="board-body">
	<!--Board navegation-->
	<board-nav [board]="board"></board-nav>	
		<!--Flash Messages-->
		<flash-messages></flash-messages>
		<board-toolbar [board]="board" (updateBoardEvent)="updateBoard()" ></board-toolbar>
		<div *ngIf="board" id="main" class="list-draggable horizontal-scroll">
			<!--Board Columns-->
			<div *ngFor="let list of board.columns; let i = index" [dragula]='"list-bag"' class="horizonal-column">
				<card-list data-id="{{ list._id }}" [cardModal]="cardmodal" [list]="list" [board]="board" (onAddCard)="addCard($event)" ></card-list>
			</div>
			<!--Add Column Form-->
			<div class="add-column">
				<span *ngIf="!addingColumn" (click)="newColumn();">Add a list...</span>
				<input autofocus *ngIf="addingColumn" (keyup)="blurOnEnter($event)" (blur)="addColumn()" [(ngModel)]="columnName" />
			</div>
		</div>
	<!--Card Information Modal-->
	<card-modal #cardmodal [boardId]="boardId" (changeEvent)="onChange()"></card-modal>
	</div>
	