<div class="wrapper blue lighten-2">
	<div class="card brand-logo">
		<i class="material-icons">query_builder</i>
	</div>
	<flash-messages></flash-messages>
	<div class="row">
		<div class="card col s3 offset-s6">
			<div class="row">
				<div class="col s12">
					<h4>Welcome!</h4>
					<p>Please fill the following information to sign up.</p>
					<input type="text" #email id="userName" class="form-control input-sm chat-input" placeholder="Email" />
					<input type="password" #password id="userPassword" class="form-control input-sm chat-input" placeholder="Password" />
					<input type="password" #confirmPassword id="" class="form-control input-sm chat-input" placeholder="Password" />
					<span class="group-btn">     
                        <button class="btn btn-primary" (click)="signup(email, password, confirmPassword);">Sign up</button>
                    </span>
                    <p>Already a member?</p>
                    <span class="group-btn">     
                        <button class="btn btn-primary" [routerLink]="['/login']">Login</button>
                    </span>
				</div>
			</div>
		</div>
	</div>
</div>